name: Build Apollo
on: [push]

jobs:
  build:
    name: Build Apollo
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout from GitHub
        uses: actions/checkout@master

      - name: Configure Google Cloud credentials
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: 'projects/271010089174/locations/global/workloadIdentityPools/github/providers/github-oidc'
          service_account: 'github-actions@moonsworth-299m4oir.iam.gserviceaccount.com'

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 16

      - name: Gradle Build
        run: ./gradlew build

      - name: Gradle Publish
        if: github.ref == 'refs/heads/master'
        run: ./gradlew Publish
